<a href="https://colab.research.google.com/github/martuballestrasse/01_clase/blob/main/clasen2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Encabezado
---
Tasks:
  -almacenar texto en una variable
  -crear un array, lista

In [ ]:
#Sumatoria hasta el numero 2_000 pero numeros impares

numeros = list(range(1, 2000, 2))
sumatoria = sum (numeros)
sumatoria

1000000

In [5]:
import math
import random

In [6]:
variable_iteracion = []

for numero_rango in list(range(1, 100)):
  numero_aleatorio = random.random() * numero_rango
  variable_iteracion.append(numero_aleatorio)


variable_iteracion

[0.021978082957765266,
 0.3471216025749979,
 0.29584927069139055,
 3.126446447116979,
 4.925152959632085,
 1.8923172876889605,
 3.674181643601487,
 2.7608108962486133,
 2.3470228720340978,
 9.961066267070724,
 6.417789604586846,
 8.500313596639536,
 10.970048007288254,
 0.571901360916306,
 2.0415944394974774,
 11.100677900972114,
 10.82461803872648,
 14.851438244312279,
 5.0405898624273755,
 19.992579274290847,
 2.9794530267901242,
 4.2974826005808,
 15.491898626154914,
 0.17053703447823398,
 21.19552821952862,
 18.763442102218686,
 2.8991512350437443,
 0.9721707639080024,
 26.33737245247101,
 28.604066709163163,
 19.972644206107056,
 5.718266463330174,
 20.917325643230544,
 24.179082163640697,
 28.27636907607201,
 3.044455281510254,
 31.95215009610725,
 15.878616265152909,
 13.212817087829496,
 10.788386649903074,
 22.78286309422236,
 17.417365401153155,
 4.736946590570085,
 41.50351326589863,
 24.71200272815195,
 28.76538969007291,
 11.512729851794736,
 42.886464347481535,
 4.397384275578282,
 10.56618335531106,
 3.4691905813052237,
 23.624218335487146,
 29.759621523102318,
 14.910973345192296,
 51.44479084865831,
 46.27771600745265,
 34.730147604798766,
 9.657369625960724,
 42.55586660577805,
 0.8659892263097579,
 39.465902002883674,
 30.58092972243378,
 29.029323136758084,
 27.169239995967487,
 63.779364688128545,
 55.29713156048249,
 38.55276732424532,
 11.00961896370618,
 60.324026717143745,
 38.76974866238942,
 26.407093107641955,
 43.45609106621958,
 23.58095603405696,
 58.482135390483975,
 74.91855163425454,
 7.6963538317414315,
 13.742862694437756,
 9.069337546397303,
 40.40445417111821,
 25.773857148245813,
 72.04223132327382,
 46.995742660662955,
 13.174388538330698,
 48.231761650788165,
 13.19306319250327,
 4.829240009554827,
 48.948081140812356,
 31.75591187494266,
 35.55666025903972,
 82.4509762333953,
 78.90135650382588,
 84.69971071674799,
 21.433137697391256,
 65.32542860077837,
 74.05421345581493,
 89.5590864746551,
 92.71655849515095,
 20.16895857715754,
 26.42780912584325]

In [2]:
def breaker_printer(lista_iterable: list, tope:int) -> str:
  contador = 0
  while lista_iterable[contador] < tope:
    print(f"El numero de iteracion es: {contador} -> y su valor es\t, {lista_iterable[contador]:.3f}")
    contador += 1
  else:
    return f"Ya estoy afuera y el siguiente numero va a ser mayor a {tope}"

In [7]:
breaker_printer(variable_iteracion, 30)

El numero de iteracion es: 0 -> y su valor es	, 0.022
El numero de iteracion es: 1 -> y su valor es	, 0.347
El numero de iteracion es: 2 -> y su valor es	, 0.296
El numero de iteracion es: 3 -> y su valor es	, 3.126
El numero de iteracion es: 4 -> y su valor es	, 4.925
El numero de iteracion es: 5 -> y su valor es	, 1.892
El numero de iteracion es: 6 -> y su valor es	, 3.674
El numero de iteracion es: 7 -> y su valor es	, 2.761
El numero de iteracion es: 8 -> y su valor es	, 2.347
El numero de iteracion es: 9 -> y su valor es	, 9.961
El numero de iteracion es: 10 -> y su valor es	, 6.418
El numero de iteracion es: 11 -> y su valor es	, 8.500
El numero de iteracion es: 12 -> y su valor es	, 10.970
El numero de iteracion es: 13 -> y su valor es	, 0.572
El numero de iteracion es: 14 -> y su valor es	, 2.042
El numero de iteracion es: 15 -> y su valor es	, 11.101
El numero de iteracion es: 16 -> y su valor es	, 10.825
El numero de iteracion es: 17 -> y su valor es	, 14.851
El numero de iteracion es: 18 -> y su valor es	, 5.041
El numero de iteracion es: 19 -> y su valor es	, 19.993
El numero de iteracion es: 20 -> y su valor es	, 2.979
El numero de iteracion es: 21 -> y su valor es	, 4.297
El numero de iteracion es: 22 -> y su valor es	, 15.492
El numero de iteracion es: 23 -> y su valor es	, 0.171
El numero de iteracion es: 24 -> y su valor es	, 21.196
El numero de iteracion es: 25 -> y su valor es	, 18.763
El numero de iteracion es: 26 -> y su valor es	, 2.899
El numero de iteracion es: 27 -> y su valor es	, 0.972
El numero de iteracion es: 28 -> y su valor es	, 26.337
El numero de iteracion es: 29 -> y su valor es	, 28.604
El numero de iteracion es: 30 -> y su valor es	, 19.973
El numero de iteracion es: 31 -> y su valor es	, 5.718
El numero de iteracion es: 32 -> y su valor es	, 20.917
El numero de iteracion es: 33 -> y su valor es	, 24.179
El numero de iteracion es: 34 -> y su valor es	, 28.276
El numero de iteracion es: 35 -> y su valor es	, 3.044

'Ya estoy afuera y el siguiente numero va a ser mayor a 30'

In [11]:
iterable = [x for x in random.sample(range(1, 100), 50)]

#Ejercicio: una funcion que me otorgue el valor maximo
def valor_max (x)->int:
  maximo = x[0]
  for numero in x:
    if numero > maximo:
      maximo = numero
  return maximo

In [12]:
valor_max(iterable)

99